body{
	background-color: gainsboro;
}

.card{
	width: 800px;
	height: 396px;
	background-color: white;
	position: absolute;
	top: 200px;
	left: 530px;
}
.card-left{
	width: 300px;
	height: auto;
	float: left;
}

.card-right{
	width: 500px;
	height: auto;
	float: left;
}

.card-right form input{
	border: none;
	border-bottom: 1px solid black;
	background: none;
	font-size: 15px;
	outline: none;
}

.card-right form{
	font-size: 15px;
}


