.cardland{
	width: 1200px;
	height: 900px;
	background-color: white;
	position: absolute;
	top: 100px;
	left: 360px;
}

.card-top{
	width: 100%;
	height: 300px;
}

.card-bottom{
	width: 100%;
	height: 600px;
	background-image: url(../img/landbackground.jpg);
}

.card-bottom form input{
	border: none;
	border-bottom: 1px solid black;
	background: none;
	font-size: 15px;
	outline: none;
}

.card-bottom form{
	font-size: 15px;
}

